.header{
    background-color: #FFFFFF;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 2% 2% 2%;
}

.logo{
    position: relative;
    display: flex;
    width: 20vw;
    height: 5vw;
    
    /* background: white; */
}

.header ul {
    display: flex;
    width: 70%;
    height: fit-content;
    padding: 0%;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: black; */

}

.header ul li{
    color: #4C9ABB;
    display: flex;
    font-size: 1.5vw;
    text-transform: uppercase;
}

.header a{
    color: #4C9ABB;
    display: flex;
    font-size: 1.5vw;
    justify-content: space-between;
    text-transform: uppercase;
}


.animatedHover{
    display: inline-block;
    position: relative;
    padding-bottom: 0.25rem;
}

.animatedHover::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    transition: 0.25s ease-out;
    background-color: #346d86;
   
}

.animatedHover:hover::before{
    width: 100%;
}




@media (max-width: 1100px){
   
    
    .logo{
        width: 200px;
        height: 50px;
    }
}

@media (max-width: 840px){
    .header ul a{
        display: none;
        /* background-color: red; */
    }
  .header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .barra{
    display: none;
  }
}