
.container{
    display: flex;
    flex-direction: column;
    padding: 2% 2%;
    background-image: radial-gradient(black 1.5px, transparent 0);
    background-size: 40px 40px;
    font-family: sans-serif;
    

}

.container__EJs{
    width: 70%;   
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    /* align-items: center; */
    gap: 6vw;
    padding: 6%;
    margin: -5% 0%;
    /* background-color: black; */
}

.condicional {
    /* background-color: black; */
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* align-items: center; */
    gap: 7vw;

    margin: 0% 20%;
    
}

.box_button{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.container button{
    border: 2px solid #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 5px 5px #A83C3C;
    color: #A83C3C;
    font-size: 1.75rem;
    text-transform: uppercase;
    padding: 10px 20px;
    
}

.container button:hover{
    cursor: pointer;
    transform: scale(1.02);
}


@media (max-width: 1200px) {
    .container__EJs{
        gap: 35px;
        margin: 0% 15%;
        justify-content: space-evenly;
    }
}

@media (max-width: 300px){
    .container span{
        text-align: center;
        font-size: 30px;
    }
}