.pageContainer{
    margin: 0 auto;
    margin-bottom: 10%;
    gap: 4px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
}

.searchBarContainer{
    align-self: flex-end;
    position: relative;
}

.searchBar{
    position: relative;
    background-color: white;
    width: 315px;
    height: 60px;
    border-radius: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 20px;
    border: none;
    font-size: 1rem;
}

.searchBar::placeholder{
    color: #D6D6D6;
    font-size: 0.98rem;
}

.searchBarIcon{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 15px;
    top: calc(50% - 15px);
    background-image: url("/posts/eventos/icone-pesquisa.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 26px;
    opacity: 0.1;
    transition: 0.6s all;
}

.searchBar:focus + .searchBarIcon{
    opacity: 1;   
}   

.activeTagsContainer{
    min-height: 40px;
    height: fit-content;
    gap: 10px;
    padding: 2px 2px 2px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 1px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.activeTag{
    height: 100%;
    padding: 3px 0;
    color: #868686;
    width: 150px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.tags{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2px;
    flex-wrap: wrap;
    position: relative;
    margin-top: 20px;
}

.activeButton{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1px;
    flex-wrap: wrap;
}

.tagButton{
    width: 200px;
    height: 35px;
    border-radius: 5px;
    background-color: #A83C3C;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 0.95rem;
}

.removeTagButton{
    margin-left: 5px;
    cursor: pointer;
    padding: 4px 6px;
}

.tag:active{
    background-color: #A83C3Cdd;
}

.ejsContainerUm{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 70px 20px 20px 20px;
}

.ej{
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    width: 150px;
    height: 150px;
    margin: 15px 5px;
}

.ejLogo{
    width: 150px;
    max-height: 150px;
    height: fit-content;
}

@media (max-width: 600px){  
    .searchBarContainer{
        align-self: center;
    }
    
    .activeTagsContainer,
    .ejsContainerUm{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 475px){  
    .activeTagsContainer,
    .ejsContainerUm{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 425px){  
    .activeTagsContainer,
    .ejsContainerUm{
        grid-template-columns: 1fr;
    }

    .activeTagsContainer{
        padding: 2px;
    }

    .activeTagsContainer *{
        justify-self: center;
        text-align: center;
    }
}