
.box{

    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #777777;
}


.box_content{
  width: 100vw;
  height: 32vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: -2%;
  /* background-color: aqua; */
     
}

.box_CNPJ{
  
  width: 30vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
 /* justify-content: center;*/
  padding: 0 1%;
  margin-left: 32vw;
  margin-bottom: -2%;
 
}




@media (max-width: 1200px){
  .text_logo{
    margin-top: -6%;
  }
}

@media (max-width: 880px){
  .box{
    height: 50vh;
  }

  .box_CNPJ{
    width: 50vw;
    margin-left:  24vw;
    padding: 0%;
  }
  .box_content{
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .box_content{
    flex-direction: column;
    align-items: center;
  } 
}