.image_logo{
    width: 32vw;
    height: 10vw;
    position: relative;
    /* background-color: brown; */
  }
.icon_insta{
  width: 45px;
  height: 45px;
  position: relative;
}
.icon_email{
  
  width: 70px;
  height: 30px;
  position: relative;
  /* background-color: black; */
}

.icon_insta_blue{
  width: 45px;
  height: 30px;
  position: relative;
}

.icon_email_blue{
  width: 70px;
  height: 40px;
  position: relative;
}

  @media (max-width: 880px){
    
    .image_logo{
      width: 100%;
      height: 20vw;
      /* margin-left: -7vw; */
      position: relative;
    }
  }


  @media (max-width: 450px){
    .icon_email_blue{
      width: 50px;
      height: 40px;
    }

    .icon_insta_blue{
      width: 35px;
      height: 30px;
    }
  }
 
  
