.image_logo{
    width: 32vw;
    height: 10vw;
    position: relative;
    /* background-color: brown; */
  }
.icon_insta{
  width: 45px;
  height: 45px;
  position: relative;
}
.icon_email{
  
  width: 70px;
  height: 30px;
  position: relative;
  /* background-color: black; */
}

  @media (max-width: 880px){
    
    .image_logo{
      width: 100%;
      height: 20vh;
      /* margin-left: -7vw; */
      position: relative;
    }
  }

 
  