.title{   
    width: fit-content;    
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 4%;
   

}

.title h1{
    font-size: 2.5vw;
    color: #A82A44;
    margin-bottom: 5%;
    font-weight: bold;
}

.title span{
    width: 100%;
    margin-top: -5%;
    height: 5px;
    background-color:  #4C9ABB;
    margin-bottom: 20%;
    
}