.container{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -8%;
    /* background-color: black; */
    flex-direction: column;    
}

.adaptative{
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
}

@media (max-width: 768px){
    .container{
        display: flex;
    }
}

@media (max-width: 1023px) {
    .adaptative{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        grid-template-columns: 1fr;
    }
}