
.box{

    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    padding: 3% 0;
    justify-content: center;
    
    background-color: #777777;
}


.box_content{
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin: 0 5% 5% 0;
 /* background-color: aqua;*/
     
}

.box_CNPJ{
  
  width: 30vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1%;
  margin-left: 32vw;
}

.logo{
  display: flex;
  flex-direction: column;
  margin-right: 15%;
  transform: translateX(-20vw);
  /*background-color: black;*/
  position: absolute;
}

.info{

    width: 50vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: -50%;
    background-color: red;
    

}

.text_icons{
    font-size: 1.10rem;
    color: white;
    margin-left: 2%;
    margin-right: 5%;
    padding-right: 2%;
    
}

.text_logo{
    color: #ffffff;
    font-size: 1.25rem;
    margin-top: -5%;
    margin-left: 1.5%;
    justify-content: flex-start;
    align-items: flex-start;
  }

.text_CNPJ{
  color: #ffffff;
  font-size: 1rem;
  text-align: center;


}
@media (max-width: 600px) {
  .box {
    flex-direction: column;
  }
  .logo {
    justify-content: center;
    align-items: center;
  }

  .text_logo{
    display: none;
  }
}