
.box{

    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    padding: 3% 0;
    justify-content: center;
    
    background-color: #777777;
}


.box_content{
  width: 100vw;
  height: 32vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  background-color: aqua;
     
}

.box_CNPJ{
  
  width: 30vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1%;
  margin-left: 32vw;
 
}

.image_logo{
  width: 40vw;
  height: 20vh;
  
  position: relative;
 /* background-color: brown;*/
}

.logo{
  width: 40vw;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: black;
}

.info{

    width: 50%;
    height: 50%;
    margin-right: -20%;
    background-color: red;
    

}

.text_icons{
    font-size: 2rem;
    color: white;
    margin-left: 2%;
    margin-right: 5%;
    padding-right: 2%;
    
}

.text_logo{
    color: #ffffff;
    font-size: 3rem;
    margin-top: -5%;
    
    
  /*  background-color: red;*/
    
  }

.text_CNPJ{
  color: #ffffff;
  font-size: 1rem;
  text-align: center;


}
@media (max-width: 600px) {
  .text_logo{
    display: none;
  }

  .box_content{
    flex-direction: column;
    align-items: center;
  }

  .logo{
    position: relative;
    justify-content: center;
    margin-left: 50%;
  }

  .info{
    width: 100vw;
    margin-right: 0%;
  }
}

