.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.optionsContainer{
    height: 350px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.option{
    background-color: #428299;
    height: 270px;
    width: 250px;
    cursor: pointer;
    font-weight: 600;
    font-size: clamp(1.3rem, 2.5vw, 1.9rem);
    position: relative;
    border: 1px solid #428299;
    color: white;
    padding: 0 40px;
    line-height: 1.3;
}

.option::after{
    content: "";
    background-color: #74A9C0;
    width: calc(100% + 2px);
    height: 30px;
    position: absolute;
    bottom: -31px;
    right: -1px;
    transition: ease 0.5s all;
}

.option:hover::after,
.option.selected::after
{
    width: 100px;
}

.option.selected{
    background-color: white;
    color: #74A9C0;
    border: 1px solid black;
    box-shadow: 0px 5px 2px rgba(0,0,0,0.3);
}


.indicator{
    display: none;
}

@media (min-width: 769px){
    .indicator{
        content: "â—";
        background-color: #4C9ABB;
        font-size: 22px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 0 12px 0 0;
        box-sizing: border-box;
        height: 40px;
        width: 40px;
        top: 10px;
        left: 0px;
        position: absolute;
        transition: ease 0.5s all;
        transform: rotate(45deg);
        color: #428299;
    }
    
    .indicator.missao{
        margin-left: 8%;
    }
    
    .indicator.valores{
        margin-left: 49%;
    }
    
    .indicator.regras{
        margin-left: 92%;
    }
}

.mvvContainer{
    min-height: 600px;
    gap: 20px;
    padding: 30px 0 0 0;
    background-color: blue;
    display: flex;
    justify-content: center;
    position: relative;
}

.mvv{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 460px;
    gap: 30px;
    height: fit-content;
    background-color: #4C9ABB;
    width: 100%;
    padding: 30px 0;
    box-sizing: border-box;
    color: white;
}

.mvv > .title{
    width: 30%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: clamp(3rem, 5vw, 4rem);
    text-align: center;
}

.mvv .content{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    font-weight: bold;
    padding: 40px;
    gap: 20px;
    box-sizing: border-box;
    border-left: 1px solid white;  
}

.mvv .content .item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    gap: 20px;
    height: max-content;
}

.mvv .content .item.right{
    flex-direction: row-reverse;
}

.mvv .content .item .img{
    width: 20%;
    min-width: 100px;
    height: 100px;
    background-color: maroon;
}

.mvv .content .item .text{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mvv .content .item.left .text{
    text-align: left;
}

.mvv .content .item.right .text{
    text-align: right;
}

.mvv .content .item .text .title{
    font-size: clamp(1.2rem, 2.4vw, 1.6rem);
    font-weight: bold;
}

.mvv .content .item .text .description{
    font-size: clamp(1rem, 2vw, 1.2rem);
    font-weight: normal;
    line-height: 1.3;
}

@media (max-width: 768px){
    .optionsContainer{
        height: 430px;
        padding: 30px 0 60px 0;
        flex-direction: column;
        gap: 15px;
    }

    .option{
        height: 80px;
        width: 80vw;
    }

    .option::after{
        height: 15px;
        bottom: -16px;
    }
}

@media (max-width: 630px){
    .mvv{
        flex-direction: column;
    }

    .mvv > .title{
        width: 80%;
    }

    .mvv .content{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: clamp(1.5rem, 2.5vw, 2rem);
        font-weight: bold;
        padding: 40px;
        box-sizing: border-box;
        text-align: center;
        border-left: none;
        border-top: 1px solid white;
    }

    .mvv .content .item,
    .mvv .content .item.right{
        width: 80vw;
        flex-direction: column;
    }

    .mvv .content .item.right .title,
    .mvv .content .item .title{
        text-align: center;
    }

    .mvv .content .item .description,
    .mvv .content .item.right .description{
        text-align: justify;
    }
}