.form{
    line-height:3;
    width: 100%;
    
}
.inputNome{
    width: 39.5%;
    padding: 0% 2% 0% 2%;
    height: 45px;
    font-weight: bold;
    border-radius: 15px;
    border: 1px solid transparent;
    /* background-color: #e282975b; */
    font-size: 17px;
    margin: 0% 3% 3% 0%;
    box-shadow: 2px 2px 5px gray;
    padding-left: 30px;
    background: url("https://thenounproject.com/api/private/icons/854886/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0&token=gAAAAABji84kKL5kBMO-WTrd2LkbozDec8QUfBeI-6QTt3YLFNMwY1yJLmVv7m4rO12esX1E_itoF1jgiGm14yf7lm5HivM-Vw%3D%3D") no-repeat left #e282975b ;
    
    background-size: 40px;
   
}
.inputEmail{
    width: 39.5%;
    padding: 0% 2% 0% 2%;
    height: 45px;
    font-weight: bold;
    border-radius: 15px;
    border: 1px solid transparent;
    /* background-color: #e282975b; */
    font-size: 17px;
    margin: 0% 3% 3% 0%;
    box-shadow: 2px 2px 5px gray;
    padding-left: 30px;
    background: url("https://thenounproject.com/api/private/icons/5341361/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0&token=gAAAAABji8ux3qd3gjYwQqrt_lXVnVfLt_96Z_1QY66GF7td3NBJGcUvBWcuo-bO67FT1-5tH4dnJUSBruqmMqTHas4YloBa5A%3D%3D") no-repeat left #e282975b;
    background-size: 40px;
   
}

.assunto{
    width: 81.9%;
    height: 45px;
    border-radius: 15px;
    padding: 0% 2% 0% 2%;
    margin-bottom: 2%;
    border: 1px solid transparent;
    background-color: #e282975b;
    font-size: 17px;
    box-shadow: 2px 2px 5px gray;
    
  }

.textareas{
    border-radius: 10px;
    display: flex;
    width: 81.9%;
    padding: 1% 2% 5% 2%;
    border-radius: 15px;
    font-weight: bold;
    border: 1px solid transparent;
    background-color: #e282975b;
    margin-top: 7px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 2px 2px 5px gray;
      
    }
.btn_submit{
    width: 81.9%;
    padding: 1.2%;
    background-color: rgba(180, 64, 89, 0.78);
    color: #FFFFFF;
    font-family: Inter;
    font-size: 1em;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px solid transparent;

}


@media (max-width: 850px) 
{
    .form{
  
        line-height:3;
        width: 100%;
        height: 35%;
        
       }
}

@media (max-width: 475px) {
    .form{
  
        line-height:3;
        width: 100%;
        height: 35%;
        
       }
       .btn_submit{
          width: 81%;
          
      }
      
}