.container{
    width: 100%;
    margin: 0 auto;
    background-color: #A82A44;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-top: 40px;
    padding-bottom: 40px;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

@media (min-width: 1024px){
    .container{
        margin-top: 0;
    }
}

.container p {
    font-size: clamp(1.15rem, 3.5vw, 1.6rem);
    width: 90%;
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    margin: 0 auto;
    line-height: 1.5;
    text-align: justify;
    font-family: sans-serif;
    color: #FFF;
}

@media (max-width: 990px){
    .wrapper{
        max-width: 1200px;
        width: 90vw;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
    }

    .container {
        padding: 0 3% 20% 3%;
        background-image: url("/assets/fundo-bolinhas.png");
        background-repeat: repeat-x;
        background-position: -12% bottom;
        flex-direction: column;
        gap: 60px;
    }

    .container p {
        font-size: clamp(1.15rem, 3.5vw, 1.6rem);
        padding: 60px 0;
    }
}