.container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    padding: 3%;
    align-items: center;
    justify-content: center;
}

.container p {
    font-size: 1.7vw;
    width: 50%;
    line-height: 2.5vw;
    text-align: justify;
    font-family: sans-serif;
    /* font-weight: bold; */
}

.img{ 
    position: relative;
    width: 22vw;
    height: 30vw;
    margin-right: 3%;
}
