html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #FFFFFF;
  color: black;
}


* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.owl-prev.disabled,
.owl-next.disabled {
  opacity: 0;
}
