.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.retangle_image
{
    position: absolute;

    transition: transform 1s;
    z-index: -1;
}



