.seta_default 
{
    position: absolute;
    background-color: rgba(0, 0, 0, 0);

    width: 20px;
    height: 20px;
    border: solid;
    border-width: 0 0 5px 5px;   


    transition: transform 0.1s;
    
    z-index: 3;    
}